#exp {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px; 
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center; 
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

label {
  margin: 10px 0 5px 0;
  font-weight: bold;
}

input[type="text"], select {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"] {
  background-color: #ffffff;
}

