body{
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
header {
  width: 100vw;
  height: 50px;
  border-bottom: solid #4BB9B2 1px;
  border-radius: 0px;
  background-color: #ffffff;
  color: #000000;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

header button {
  background: none;
  border: none;
  color: #000000;
  font-size: 15px;
  cursor: pointer;
}

header h1 {
  font-size: 16px;
  color: #000000;
  margin: 0;
  flex: 1;
  text-align: center;
}

main{
  width:100%;
  overflow-y: auto;
  flex: 1;
  margin-top: 50px;
  margin-bottom: 50px;
}

section.journal-layout {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

section.journal-layout>section.post-layout{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 460px;

  
  border-bottom: solid #4BB9B2 1px;
}

article.journal-head{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  /*max-width: 460px;*/
  box-sizing: border-box;
  margin-bottom: 10px;
  
  padding: 10px;
}
#jtitle{
  font-size: 20px;
  font-weight: 400;
  margin: 20px 0px;
}
.journal-head>div#jhead{
  height: 32px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
#jinfo {
  width: auto;
  height: 32px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
#jimg{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 10px;
}
#jimg>img{
  width:100%;
  object-fit: cover;
}

#jinfo>div>ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;

  padding: 0;
  margin: 0;
  list-style: none;
}
ul>li#jauthor{
  color: #909090;
  font-size: 12px;
}

ul>li#jdate{
  color: #909090;
  font-size: 12px;
}
.ud {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: auto;
  height: 15.5px;
}
.ud>ul{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 15.5px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ud>ul>li {
  font-size: 14px;
  color:#909090;
}
#update-btn {
  width: auto;
  height: 15.5px;
}
#update-btn>a{
  text-decoration: none;
  height: 100%;
}
#delete-btn{
  width: auto;
  height: 15.5px;
}
#delete-btn>a{
  text-decoration: none;
  height: 100%;
}

article.jcontent {
  width: 100%;
  /*max-width: 460px;*/
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 10px;
}

article.jcontent>div:first-child{
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  border: solid #d9d9d9 1px;
  
  margin-bottom: 10px;
}
article.jcontent>div>img#jcontent-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

article.jcontent>div#jcontent-text {
  width: 100%;
  /*max-width: 460px;*/
  
  margin-bottom:10px;

  font-size: 15px;
}

article.journal-tail {
  width: 100%;
  max-width: 460px;

  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
}
article.journal-tail>div>ul{
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
li#like-btn {
  width: 25px;
  height: 25px;
}
article.journal-tail>div>ul>li {
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
}


section.comment-layout{
  width: 100%;
  max-width: 460px;
}
article#comment-item {
  display: flex;
  flex-direction: column;
  align-items: start;

  padding: 10px;
  border-bottom: solid #4BB9B2 1px;
}
#comment-item>div{
  margin-bottom: 5px;
}
#comment-item>div>ul{
  display: flex;
  flex-direction: start;
  
  margin: 0;
  padding: 0;
  list-style: none;
}
#comment-item>div>ul>li{
  margin-right: 10px;
}

#cimg{
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 12.5px;
}
#cimg>img {
  width: 100px;
  object-fit: cover;
}

div#ccontent{
  font-size: 15px;
}
div#cdate{
  font-size: 14px
}






.comment-form {
  background-color: #ffffff;
  border-top: solid #4BB9B2 1px;
  width: 100vw;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
}
.comment-form>article {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;
}
.comment-form ul {
  list-style: none;
  margin:0;
  padding:0;

  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;
}
.comment-form ul>li:first-child{
  width: calc(100% - 70px);
  height: 100%;
}
.comment-form ul>li:last-child{
  width: 70px;
  height:100%;
}
input#comment{
  height: 100%;
  width: 100%
}
input#submit {
  height: 100%;
  width: 70px;

  padding: 0;
  margin:0;
  
  background-color: #4BB9B2;
  border: solid #4BB9B2 1px;
  border-radius: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
}
input#submit:hover{
  cursor: pointer;
  background-color: #3b918c;
}