body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    box-sizing: border-box;
}

header.journal-list {
    width: 100vw;
    height: 120px;
    border-bottom: solid #4BB9B2 0px;
    border-radius: 0px;
    box-shadow: 0 1px 5px #d9d9d9;
    background-color: #ffffff;
    color: #000000;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header.journal-list>div {
    width: 100vw;
    /*max-width: 460px;*/
}

header.journal-list>div:first-child {
    margin-left: 20px;
}

header.journal-list>div:first-child>ul {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

#bird-icon {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.journal-title {
    font-size: 20px;
    margin-left: 5px;
}

.journal-title #bird-name {
    font-weight: bold;
}

header.journal-list>div.sort {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

.sort>form>select {
    margin-right: 20px;
    border: none;
    background-color: #ffffff;
    color: #4BB9B2;
    font-size: 14px;
    font-weight: bold;
}

#sort-option {
    font-weight: normal;
}

main {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    margin-top: 120px;
    /* header height */
    margin-bottom: 50px;
    /* footer height */
}

section {
    padding: 10px;
}

section>article.jitem {
    width: 100%;
    height: 120px;
    padding: 10px 15px;
    margin: 5px 0;
    background-color: #eeeeee;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
section>article.jitem:hover{
    cursor: pointer;
    background-color: beige;
}
section>article.jitem>div:first-child{
    width: calc(100% - 90px);
}
ul.jtext {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    list-style: none;
}

#jdate {
    font-size: 14px;
    font-weight: bold;
    color: #4BB9B2;
}

#jtitle {
    font-size: 16px;
    font-weight: bold;
}

#jcontent {
    font-size: 15px;
}

#jreaction {
    font-size: 14px;
}


/* 사진 */
#jimage {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    background: #d9d9d9;
    border: 1px solid #000000;
    border-radius: 10px;
    overflow: hidden;
}
#jimage>img{
    object-fit: cover;
    width: 100%;
    height: auto;
}

#floating-btn {
    position: absolute;
    width: 52px;
    height: 52px;
    left: calc(100% - 92px);
    top: calc(100% - 142px);
    border: none;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#floating-btn:hover{
    cursor:pointer;
}

footer.navbar {
    background-color: #4BB9B2;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

footer.navbar>ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}