body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

header h1 {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header button {
  background-color: #ffffff;
  color: #4BB9B2;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

header button:hover {
  background-color: #4BB9B2;
  color: white;
}

header ul {
  display: flex;
  margin: 0;
  padding: 0;
}

header ul li {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: white;
  color: #4BB9B2;
  text-align: center;
}

main {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 70px;
}

.second-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.second-header .tab {
  width: 50%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 2px solid #ccc;
}

.second-header .tab.active {
  border-bottom: 2px solid #4BB9B2;
  font-weight: bold;
}

.bird-info-container {
  display: none;
}

.bird-info {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.bird-pic img {
  border-radius: 50%;
  margin-right: 15px;
}

.bird-details p {
  margin: 5px 0;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

footer.navbar {
  background-color: #4BB9B2;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}

footer.navbar>ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

header {
  width: 100vw;
  height: 50px;
  border-bottom: solid #4BB9B2 1px;
  border-radius: 0px;
  background-color: #ffffff;
  color: #000000;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#user-update{
  padding-top: 5px;
  padding-bottom: 10px;
}

#user-update button, #add-bird button, #update-bird button{
  background-color: #4BB9B2;
  color: white;
  margin-top:1px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  width: 9%; 
  text-decoration: none; /* 밑줄 제거 */
}

#user-update button:hover {
  background-color: #3a9792;
  text-decoration: none; /* 밑줄 제거 */

}

#user-update button a,
#add-bird button a,
#update-bird button a {
  color: white; 
  text-decoration: none;
  display: block; 
  width: 100%; 
  height: 100%; 
}

#user-update button a:hover,
#add-bird button a:hover,
#update-bird button a:hover {
  color: white; 
  text-decoration: none; 
}