body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  width: 100vw;
  border-bottom: solid #4BB9B2 0px;
  border-radius: 0px;
  box-shadow: 0 1px 5px #4BB9B2;
  background-color: #ffffff;
  color: #000000;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

header button {
  background: none;
  border: none;
  color: #000000;
  font-size: 15px;
  cursor: pointer;
}

header h1 {
  font-size: 16px;
  color: #4BB9B2;
  margin: 0;
  flex: 1;
  text-align: center;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul li#current-step {
  background: #4BB9B2;
  border: solid #4BB9B2 1px;
  border-radius: 11px;
  width: 20px;
  height: 20px;
  margin: 2px;
  text-align: center;
  color: #ffffff;
}

header ul li#next-step {
  background: #d9d9d9;
  border: solid #d9d9d9 1px;
  border-radius: 11px;
  width: 20px;
  height: 20px;
  margin: 2px;
  text-align: center;
  color: #ffffff;
}

header ul li#last-step {
  background: #d9d9d9;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  margin: right;
  text-align: center;
  color: #ffffff;
}

section.title {
  padding: 20px;
  margin: auto auto 0px auto;
  width: 100vw;
  max-width: 460px;
}

#logo {
  width: 150px;
  height: 150px;
  border: solid #d9d9d9 1px;
  margin-bottom: 5px;
  font-size: 30px;
  color: #4BB9B2;
}

section.form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100vw;
  max-width: 460px;
  margin: 10px auto 20px auto;
}

article {
  margin-bottom: 20px;
}

label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+span {
  width: 20px;
  height: 20px;
  border: 2px solid #4BB9B2;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

input[type="checkbox"]:checked+span {
  background-color: #4BB9B2;
  border-color: #4BB9B2;
}

input[type="checkbox"]:checked+span::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

div.terms-content {
  overflow: scroll;
  height: 150px;
  max-height: 150px;
  border: solid #d9d9d9 1px;
  color: #d9d9d9;
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 20px;

}

section.submit {
  width: 100vw;
  max-width: 460px;
  margin: 20px auto 0px auto;
}

input[type="button"] {
  width: 100%;
  background-color: #4BB9B2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="button"]:hover {
  background-color: #307571;
}